# Registry publish disabled for now (install from git).
# When publishing to GitHub Packages later, consumers need:
#   @midoelhawy:registry=https://npm.pkg.github.com
#   //npm.pkg.github.com/:_authToken=YOUR_TOKEN
